[submodule "bundle/snipmate_for_django"]
	path = bundle/snipmate_for_django
	url = git://github.com/robhudson/snipmate_for_django.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/nvie/vim-abolish.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = git://github.com/nvie/vim-pep8.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/nvie/vim-pyflakes.git
[submodule "bundle/toggle_mouse"]
	path = bundle/toggle_mouse
	url = git://github.com/nvie/vim-togglemouse.git
[submodule "bundle/pyunit"]
	path = bundle/pyunit
	url = git://github.com/nvie/vim-pyunit.git
[submodule "bundle/rst_tables"]
	path = bundle/rst_tables
	url = git://github.com/nvie/vim-rst-tables.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex/
[submodule "bundle/smart-parentheses"]
	path = bundle/smart-parentheses
	url = https://github.com/vim-scripts/Smart-Parentheses.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/CuteErrorMarker"]
	path = bundle/CuteErrorMarker
	url = https://github.com/Twinside/vim-cuteErrorMarker.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete
[submodule "bundle/scala-vim-support"]
	path = bundle/scala-vim-support
	url = https://github.com/vgod/scala-vim-support.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git

